.AboutPage {
    display: flex;
        flex-direction: row;
        justify-content: center;
}

.text-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.big-text-area-parent {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 30px;
}

.big-text-area-child {
    display: flex;
    align-items: center;

    width: 60%;
    min-width: 1050px;
}